/* Importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    background-image: url('assets/images/bg-pet.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
}

.content-container {
    color: rgb(209, 104, 34); 
}

a {
    text-decoration: none;
    color: #01a34c;
}
