/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: white;
  background-image: url('assets/images/bg-pet.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #01a34c;
  font-family: 'Segoe UI', sans-serif;
}

.content-container {
  background-color: rgba(255, 255, 255, 0.7); /* Fundo branco semi-transparente */
}

a{
  text-decoration: none;
}
